﻿@model WebApplication1.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>BMI計算器</h2>
<form action="@Url.Action("Index")" method="post">
    @Html.DisplayNameFor(m => m.h)
    @Html.TextBoxFor(m => m.h) 公分
    @Html.ValidationMessageFor(modelItem => @Model.h)<br />

    @Html.DisplayNameFor(m => m.w)
    @Html.TextBoxFor(m => m.w)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.w)<br />

    <input type="submit" name="name" value="送出!" />
</form>

<p>計算結果為:@Model.R</p>
<p>等級為:@Model.l</p>
