﻿
@{
    ViewBag.Title = "html";
}

<h2>會員註冊</h2>
<p>姓名: <input type="text" name="firstname"></p>
<p>帳號: <input type="text" name="accent"></p>
<p>密碼: <input type="password" name="passward"></p>
<p>
    性別:
    <input type="radio" name="gender" value="a">男
    <input type="radio" name="gender" value="a">女
</p>
<p>
    嗜好:<br>
    <input type="checkbox" name="mane-1" value="a">課金<br>
    <input type="checkbox" name="mane-2" value="b">玩遊戲<br>
    <input type="checkbox" name="mane-3" value="c>寫程式<br>
    <input type="checkbox" name="mane-4" value="d">其他<br>
 </p>
<p>建議:</p>
<textarea></textarea> 